## Arduino library in pip requirements.txt format for simplicity
git+https://github.com/esp8266/Arduino@releases/tag/3.0.2#egg=esp8266-arduino-core
git+https://github.com/bblanchon/ArduinoJson@releases/tag/v6.19.1#egg=ArduinoJson
